<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Test</title>
    <!-- NVD3 dependecy -->
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <!-- Loading NVD3 -->
    <script src="/static/nv.d3.min.js" language="JavaScript"></script>
    <link rel="stylesheet" type="text/css" href="/static/nv.d3.css"/>
</head>
<body>
<style>

#chart svg {
  height: 400px;
}


</style>


<div id="chart">
    <svg></svg>
</div>
<script src="/static/chart.js" language="JavaScript"></script>
</body>
</html>